.navbar {
    background-color: #2f3d46;

}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: whitesmoke;
    font-size: 4ch;
}

#card1 {
    background-color: black;
}


.nav2 {
    width: 100px;
}

.box {
    position: relative;
    padding: 10px;
    justify-content: center;
    background-color: black;
    right: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 1rem;

    display: inline-block;
    margin: 10px;
}

.box1 {

    justify-content: center;
    background-color: black;
    right: 20px;
    width: 600px;
    height: 200px;
    border: 1px solid black;
    border-radius: 1rem;
    display: inline-block;
    margin: 10px;
}

body {
    background-color: #cbd3c5;
}